section#o_firmie{
  padding: 0;
}
.about{
  background: $col-green;
  display: grid;
  width: 100%;
  grid-template-columns: 47.78% auto;
  grid-template-rows: 18.75% 1fr 18.75%;
  column-gap: 11.11%;
  align-items: center;
  max-height: 90vh;
  height: 90vh;
  overflow: hidden;
  @media(max-width: 1441px){
    height: 725px;
    max-height: 725px;
    grid-template-columns: auto 592px;
    column-gap: 160px;
  }
  @media(max-width: 991px){
   background: transparent;
      column-gap: 0;
  }
  @media(max-width: 767px){
    grid-template-columns:10px auto 10px;
  }
  &__img{
    grid-column: 1/2;
    grid-row: 1/4;
    width: 100%;
    height: 100%;
    @media(max-width: 991px){
      grid-column: 1/3;
    }
    @media(max-width: 767px){
      grid-column: 1/4;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 20% 20%;
    }
  }
  &__green{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 500px;
    display: grid;
    max-height: 460px;
    grid-template-columns: 250px auto;
    grid-template-rows: 20px 16px 120px 40px 150px 72px auto;
    transform: scale(1.3);
    transform-origin: center left;
    @media(max-width: 1920px){
      transform: scale(1.0);
    }
    @media(max-width: 991px){
      background: $col-green-opacity;
      padding: 0 70px;
      grid-row: 1/4;
      width: 100%;
      max-height: unset;
      height: 100%;
      grid-template-rows: auto 20px 16px 105px 40px 180px 72px 65px auto;
    }
    @media(max-width: 767px){
      padding: 0 10px;
      grid-template-rows: auto 20px 16px 85px 30px 180px 72px 65px auto;
    }

    h2.section_title,p.section_p, h3.nav_title{
      color: $col-grey;
    }
    h3.nav_title{
      grid-column: 1/2;
      grid-row: 1/2;
      @media(max-width: 991px){
        grid-row: 2/3;
      }

    }
    h2.section_title{
      grid-column: 1/2;
      grid-row: 3/4;
      @media(max-width: 991px){
        grid-row: 4/5;
      }
      @media(max-width: 767px){
        width: 80%;
      }
    }
    p.section_p{
      grid-column: 1/3;
      grid-row: 5/6;
      @media(max-width: 991px){
        grid-row: 6/7;
      }
    }
    button.transp_btn{
      border-color: $col-grey;
      grid-column: 1/2;
      grid-row: 7/8;
      @media(max-width: 991px){
        grid-row: 8/9;
      }
      a{
        color:$col-grey;
        img{
          filter: brightness(0) saturate(100%) invert(98%) sepia(96%) saturate(620%) hue-rotate(291deg) brightness(112%) contrast(91%);
          transform: rotate(-90deg);
          padding-left: 0;
          padding-top: 8px;
        }
      }
    }
  }
}