.popup{
  position: fixed;
  top:-60px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #111111;
  display: flex;
  padding: 20px;
  flex-direction: column;
  z-index: 150;
  max-height: 0;
  overflow: hidden;
  transition: all .4s;
  @media screen and (max-width:1000px) and (orientation:landscape){
    padding: 10px;
  }
  @media (max-width:767px){
    padding: 10px;
  }
  &.show {
    max-height: 100vh;
   top:0;
  }
  img{
    transition: opacity .3s;
    cursor: pointer;
    &:hover{
      opacity: .7;
    }
  }
  &__close{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 30px;
    overflow: hidden;
    @media screen and (max-width:1000px) and (orientation:landscape){
      position: absolute;
      top:50px;
      right: 10px;
      z-index: 2;
    }
    img{
      height: 100%;
      width: auto;
    }
  }
  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    @media (max-width: 767px) {
      justify-content: center;
      position: relative;
    }
    .arrow{
      width: 45px;
      @media (max-width: 767px) {
        position: absolute;
        bottom:60px;
        left: 10%;
        transform: translateX(-50%);
        z-index: 2;
      }
      img{
        width: 100%;
        height: auto ;
      }
    }
    .next_arrow{
      @media (max-width: 767px) {
        position: absolute;
        bottom:60px;
        right: 10%;
        left: unset;
        transform: translateX(50%);
        z-index: 2;
      }
      img{
        transform: scale(-1);
      }
    }
    &__img{
      @media screen and (max-width:1000px) and (orientation:landscape){
        max-height: 100%;
        overflow: hidden;
        width: 100%;
      }
      @media (max-width: 767px) {
        width: 100%;
        height: 90%;
        overflow: hidden;
      }
      img{
        opacity: 1;
        animation-duration: 1s;
        animation-name: slidein;
        transform: scale(1.1);
        @media (max-width: 767px) {
          animation-name: slideinMobile;
          justify-content: center;
          transform: scale(1);
          max-height: 90%;
          width: 100%;
          object-fit: cover;
        }
        @media screen and (max-width:1000px) and (orientation:landscape){
          animation-name: slideinMobile;
          justify-content: center;
          transform: scale(1);
          max-height: 90%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
@keyframes slidein {
  from {opacity: 0;
        transform: scale(1);
  }
  to {opacity: 1;
    transform: scale(1.1);
  }
}
@keyframes slideinMobile {
  from {opacity: 0;
      transform: scale(.7);

  }
  to {opacity: 1;
      transform: scale(1);
  }
}