//colors
$col-beige: rgba(220, 193, 171, 1);
$col-beige-opacity: rgba(220, 193, 171, 0.88);
$col-black: #111;
$col-white: #FFF;
$col-green: rgba(27, 91, 49, 1);
$col-green-opacity: rgba(27, 91, 49, 0.84);
$col-grey: #F5F0EC;
$col-grey-opacity: rgba(245, 240, 236, 0.73);
