
@mixin btn-hover{
  transition: all .4s;
  box-shadow: inset 0 0 0 0 #111;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  &:hover{
    box-shadow: inset 400px 0 0 0 #111;
    color:#F5F0EC;
    a{
      color:#F5F0EC;
      img{
        filter: brightness(0) saturate(100%) invert(98%) sepia(96%) saturate(620%) hue-rotate(291deg) brightness(112%) contrast(91%);
      }
    }
    img{
      filter: brightness(0) saturate(100%) invert(98%) sepia(96%) saturate(620%) hue-rotate(291deg) brightness(112%) contrast(91%);
    }
  }
}
